.bg-outer-space {
    background-color: $color-outer-space;
}

.text-twilight-blue {
    color: #f7ffff;
}

.text-twilight-blue-50 {
    color: #f7ffff;
    opacity: 0.5;
}

.text-manatee {
    color: #979ca2;
}

.h-100vh {
    height: 100vh;
}

.h-50vh {
    height: 50vh;
}